@import "../../../theme.scss";

h4 {
  margin: 0px;
  font-weight: 500;
}
h5 {
  margin: 0px;
  margin-bottom: 5px;
  color: $warn;
}
p {
  margin: 0px;
  margin-top: 5px;
  font-size: 12px;
  padding: 10px 0px 0px 40px;
  text-align: right;
}
.left {
  display: flex;
  justify-content: flex-start;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.left-message {
  background: #ddd;
  margin: 5px 150px 5px 50px;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
}
.right-message {
  color: white;
  background: $accent;
  margin: 5px 50px 5px 150px;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
}
.inner {
  display: flex;
  flex-direction: row;
}
img {
  cursor: pointer;
}
