<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list *ngFor="let item of threadList">
      <app-thread (click)="openThread(item)" [lastSeen]="item.isLastMsgSeen"
        [threadName]="item.groupObject ? item.groupObject.groupName : item.snederObject.name"
        [lastMessage]="item.lastMessage"
        [threadImg]="item.groupObject ? (item.groupObject.groupImage ? item.groupObject.groupImage : '../../../assets/Images/source.gif') : (item.snederObject.image?item.snederObject.image: '../../../assets/Images/source.gif')">
      </app-thread>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>p-messenger</span> -->
    </mat-toolbar>
    <app-chat [selectedThread]="selectedThread"></app-chat>
    <app-new [selectedThread]="selectedThread"></app-new>
  </mat-sidenav-content>
</mat-sidenav-container>