.stick {
  position: fixed;
  bottom: 0;
  background-color: #ccc;
  width: calc(100% - 349px);
  display: flex;
  align-items: center;
  input {
    flex: 1;
    font-size: 15px;
    padding: 10px;
    border-radius: 100px;
    border: 0px;
    margin: 15px;
  }
  button {
    margin-right: 25px;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
