.main {
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  justify-content: center;
}
.phone-number {
  width: 50%;
  font-size: 24px;
}

.mat-error {
  text-align: right;
}

.login-button {
  font-size: 18px;
  margin-top: 20px;
  color: white;
}

.code {
  margin-top: -100px;
  display: flex;
  justify-content: center;
}
.code-button {
  margin-left: 15px;
  margin-top: 15px;
  color: white;
}

h1 {
  font-size: 45px;
  color: white;
  background-color: #4caf50;
  padding: 10px 30px 10px 30px;
  border-radius: 40px 40px 40px 0px;
}

.login-error {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
}
